@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff4d4d;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  position: relative;
}

.close-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.dropzone {
  margin: 20px 0;
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.preview {
  position: relative;
  margin: 10px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.file-input {
  display: none;
}

.upload-button,
.open-modal-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plus-icon {
  width: 50px;
  height: 50px;
  color: #007bff;
}


.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(240, 109, 109);
  border: none;
  color: black;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.remove-icon {
  color: white;
  font-weight: bold;
  width: 20px; /* Adjust the size as needed */
  height: 20px;
  transition: transform 0.2s ease-in-out;
}

.upload-label:hover .plus-icon {
  transform: scale(1.1); /* Slight zoom on hover */
}
